# Наполнение БД из временных таблиц.

### 1. Подготовка

In [1]:

import time
import mysql.connector as mysql

### 2. Создание функции для наполнения БД

In [ ]:
def alter_incert_db(
    sql_query,
    host_ = '', 
    user_ = '', 
    password_ = '',
    database_ = 'pet_proect'
):
    '''Функция для создания объектов в БД имеет следующие параметры:
        sql_query - sql запрос;
        host- хост БД (данные по-умолчанию);
        user - логин БД (данные по-умолчанию);
        password - пароль (данные по-умолчанию);
        database - имя (данные по-умолчанию).'''
    try:
        with mysql.connect(
            host = host_,
            user = user_,
            password = password_,
            database = database_
        ) as connection_pet:
            with connection_pet.cursor() as cursor_pet:
                cursor_pet.execute(sql_query)
                connection_pet.commit()
                print(connection_pet)
    except mysql.Error as e:
        print(e)

### 3. SQL запросы для обновления, наполнения данных и удаления временных таблиц

In [3]:
'''   Блок написания переменных со скриптами SQL   '''

alter_insert_dict_users = """
    UPDATE dict_users du INNER JOIN tmp_dict_users tdu
    ON	du._id = tdu._id
    SET du._id = tdu._id,
    	du.email = tdu.email,
    	du.phoneNumber = tdu.phoneNumber,
    	du.displayName = tdu.displayName,
    	du.firmId = tdu.firmId,
    	du.createDateTime = tdu.createDateTime,
    	du.isDeleted = tdu.isDeleted;
    INSERT INTO dict_users 
    SELECT d.* FROM tmp_dict_users d LEFT JOIN dict_users t
    	ON t._id = d._id
    WHERE t._id is null;
"""

alter_insert_dict_marks = """
    UPDATE dict_marks du INNER JOIN tmp_dict_marks tdu
    ON	du._id = tdu._id
    SET du._id = tdu._id,
    	du.name = tdu.name,
    	du.isDeleted = tdu.isDeleted,
    	du.createDateTime = tdu.createDateTime,
    	du.updateDateTime = tdu.updateDateTime,
    	du.true_name = tdu.true_name;
    INSERT INTO dict_marks 
    SELECT d.* FROM tmp_dict_marks d LEFT JOIN dict_marks t
    	ON t._id = d._id
    WHERE t._id is null;
"""

alter_insert_dict_placingways = """    
    UPDATE dict_placingways du INNER JOIN tmp_dict_placingways tdu
    ON	du._id = tdu._id
    SET du._id = tdu._id,
    	du.name = tdu.name,
    	du.shortName = tdu.shortName;
    INSERT INTO dict_placingways 
    SELECT d.* FROM tmp_dict_placingways d LEFT JOIN dict_placingways t
    	ON t._id = d._id
    WHERE t._id is null;
"""

alter_insert_dict_status = """
    UPDATE dict_status du INNER JOIN tmp_dict_status tdu
    ON	du._id = tdu._id
    SET du._id = tdu._id,
    	du.name = tdu.name,
    	du.shortName = tdu.shortName,
    	du.`order` = tdu.`order`;
    INSERT INTO dict_status 
    SELECT d.* FROM tmp_dict_status d LEFT JOIN dict_status t
    	ON t._id = d._id
    WHERE t._id is null;
"""

alter_insert_dict_region = """
    UPDATE dict_region du INNER JOIN tmp_dict_region tdu
    ON	du._id = tdu._id
    SET du._id = tdu._id,
        	du.name = tdu.name,
            du.OKATO = tdu.OKATO,
            du.ISO = tdu.ISO,
            du.GOST = tdu.GOST;
    INSERT INTO dict_region 
    SELECT d.* FROM tmp_dict_region d LEFT JOIN dict_region t
    	ON t._id = d._id
    WHERE t._id is null;
"""

alter_insert_dict_tenders = """
    UPDATE dict_tenders du INNER JOIN tmp_dict_tenders tdu
    ON	du._id = tdu._id
    SET 
    	du.multilot = tdu.multilot,
    	du.guaranteeApp = tdu.guaranteeApp,
    	du.guaranteeContract = tdu.guaranteeContract,
    	du.fz = tdu.fz,
    	du.`href` = tdu.`href`,
    	du.`name/garant` = tdu.`name/garant`,
    	du.maxPrice = tdu.maxPrice,
    	du.status = tdu.status,
    	du.placingWay = tdu.placingWay,
    	du.orderName = tdu.orderName,
    	du.publicationDate = tdu.publicationDate,
    	du.`number` = tdu.`number`,
    	du.region = tdu.region,
    	du.guid = tdu.guid,
    	du.`name/dict` = tdu.`name/dict`,
    	du.`region/customres` = tdu.`region/customres`,
    	du.`price-mean` = tdu.`price-mean`,
    	du.`price-std` = tdu.`price-std`,
    	du.`price-min` = tdu.`price-min`,
    	du.`price-max` = tdu.`price-max`,
    	du.`score-mean` = tdu.`score-mean`,
    	du.`score-std` = tdu.`score-std`,
    	du.`score-min` = tdu.`score-min`,
    	du.`score-max` = tdu.`score-max`;
    INSERT INTO dict_tenders 
    SELECT d.* FROM tmp_dict_tenders d LEFT JOIN dict_tenders t
    	ON t._id = d._id
    WHERE t._id is null;
"""
alter_insetr_marks_users = """
    DELETE FROM marks_users;
    INSERT INTO marks_users (_id, marks, users) 
    SELECT d.* FROM tmp_marks_users d;
"""

alter_insert_participants = """
    DELETE FROM participants;
    INSERT INTO participants (`_id`, guid, name, price, region, score, winner) 
    SELECT d.* FROM tmp_participants d;
"""

alter_insert_products = """
    DELETE FROM products;
    INSERT INTO products (`_id`, name, price, quantity, unit) 
    SELECT d.* FROM tmp_products d;
"""

drop_tmp_dict_placingways = """
    DROP TABLE IF EXISTS tmp_dict_placingways;
"""

drop_tmp_dict_marks = """
    DROP TABLE IF EXISTS tmp_dict_marks;
"""

drop_tmp_dict_region = """
    DROP TABLE IF EXISTS tmp_dict_region;
"""

drop_tmp_dict_status = """
    DROP TABLE IF EXISTS tmp_dict_status;
"""

drop_tmp_dict_tenders = """
    DROP TABLE IF EXISTS tmp_dict_tenders;
"""

drop_tmp_dict_users = """
    DROP TABLE IF EXISTS tmp_dict_users;
"""

drop_tmp_marks_users = """
    DROP TABLE IF EXISTS tmp_marks_users;
"""

drop_tmp_participants = """
    DROP TABLE IF EXISTS tmp_participants;
"""

drop_tmp_products = """
    DROP TABLE IF EXISTS tmp_products;
"""

### 4. Переменная со списком sql запросов

In [4]:
lst_sql = [
    alter_insert_dict_users,
    alter_insert_dict_marks,
    alter_insert_dict_placingways,
    alter_insert_dict_status,
    alter_insert_dict_region,
    alter_insert_dict_tenders,
    alter_insetr_marks_users,
    alter_insert_participants,
    alter_insert_products,
    drop_tmp_dict_placingways,
    drop_tmp_dict_marks,
    drop_tmp_dict_region,
    drop_tmp_dict_status,
    drop_tmp_dict_tenders,
    drop_tmp_dict_users,
    drop_tmp_marks_users,
    drop_tmp_participants,
    drop_tmp_products
]

### 5. Цикл наполняющий БД (транзакции на каждый запрос)

In [5]:
for x in lst_sql:
    alter_incert_db(x)
    time.sleep(1)

<mysql.connector.connection.MySQLConnection object at 0x00000263EF56D190>
<mysql.connector.connection.MySQLConnection object at 0x00000263ED8138F0>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF513950>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF591670>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF17EB70>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF585640>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF1EB230>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF551F10>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF553230>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF553E30>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF553E30>
<mysql.connector.connection.MySQLConnection object at 0x00000263EDA283B0>
<mysql.connector.connection.MySQLConnection object at 0x00000263EDA283B0>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF585640>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF553E30>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF553E30>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF585640>
<mysql.connector.connection.MySQLConnection object at 0x00000263EF553E30>